.chatContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 30vh;
  background-color: #42c492;
  padding: 10px;
  margin: 20px auto;
}

.chatContainer .userContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
}

.chatContainer .chatArea {
  width: 80%;
  height: 90%;
  background-color: whitesmoke;
  margin: 10px auto;
  font-size: 20px;
}

.chatContainer .chatBoxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
}

.chatContainer .chatBoxContainer #chatBox {
  width: 400px;
}

.chatContainer .conectedUsers {
  width: 30px;
}

.chatContainer .userName {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 30px;
  background-color: yellow;
}

#productForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  border: 1px solid rgba(35, 197, 209, 0.774);
  background-color: rgba(144, 238, 144, 0.384);
  padding: 10px;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(35, 197, 209, 0.205);
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(35, 197, 209, 0.774);
  text-transform: uppercase;
}

.tableContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

legend {
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
  text-align: center;
}

table {
  width: 60%;
  margin: auto;
  border: 1px solid black;
}

tr {
  background-color: rgba(32, 178, 171, 0.596);
  text-align: center;
  font-size: 1.5em;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

table {
  width: 60%;
  margin: auto;
}

.tableHeader {
  background-color: lightgreen;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

td, th {
  border: 1px solid black;
}

.thumbnail, .title, .price, .id {
  text-align: center;
}

.productFormSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#submitBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: lightseagreen;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
  cursor: pointer;
}

#submitBtn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 3px 3px lightslategray;
          box-shadow: 3px 3px lightslategray;
  background-color: rgba(32, 178, 171, 0.521);
  color: black;
  font-size: 18px;
}

#productForm > div {
  text-align: end;
  width: 50%;
  margin: 10px;
  font-weight: bolder;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */